datamodel/.dbeaver/
datamodel/Scripts/
.idea/
config/
lib/__pycache__/
*.bkp
var/
*.pyc
experimental/java-dvpi-consumer/target/
.vscode/
.vscode/launch.json
.venv/
*.bak
resources/
.project
.dbeaver/
documentation/.vs/
Scripts/
